<h1>Welcome</h1>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Sign Up", '/users/new', method: :get %>

<%# TODO: move to signup page %>
<%= link_to "CONNECT TO SPOTIFY", '/connect/spotify', method: :get %>
